/*Counter*/
.counter{
    margin-top: 40px;
}

.time_circles {
    position: relative;
    width: 100%;
    height: 100%;
}


.time_circles > div {
    position: absolute;
    text-align: center;
}


.time_circles > div > h4 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato-Regular', Arial;
    color: #fff;
    font-weight: normal!important;
}

.time_circles > div > span {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Lato-Bold', Arial;
    margin: 0.25em 0 0.5em 0;
    font-weight: bold;
    color: #fff;
    font-size: 40px;

}